<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us - HBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>About us - HBS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi libero totam quasi mollitia maxime dolores debitis eveniet itaque enim aut a corporis fuga, nobis nam, sed sint eligendi eaque nemo! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat tempora totam nesciunt sit quae aliquid ea ipsa, minima, iusto error commodi dolor expedita veniam, consequuntur beatae. Rerum quae facere adipisci!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, perspiciatis autem. Omnis repellat nobis exercitationem odio natus inventore nemo, adipisci dolor excepturi quo eligendi, voluptates eum ea rerum obcaecati eos!</p>
    <br>
    {{> footer }}
</body>
</html>
