<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Projects - HBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>{{ upperCase title }} - HBS</h1>
    <p>Liste of Projects:</p>
    <ul>
        <li>Project 1</li>
        <li>Project 2</li>
        <li>Project 3</li>
    </ul>
    <br>
    {{> footer }}
</body>
</html>
